@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

:root {
    --shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    --color-primary: #63e2b7;
    --color-dark: #0e0e11;
    --color-dark2: #272829;
    --color-light: #ecedf0;
    --color-light2: #d7d8db;

    --font-mono: 'IBM Plex Mono', 'Courier New', Courier, monospace;

    --nn-color-error: #e88080;
    --nn-color-warning: #f2c97d;
    --nn-color-info: #70c0e8;;
    --nn-color-success: #63e2b7;;
}

body {
    background-color: var(--color-dark);
}

a {
    text-decoration: none;
}
