.form-container, .item-container{
    box-shadow: var(--shadow);
    padding: 2rem;
}
.form-container{
    max-width: 20rem;
    min-width: 10rem;

}
.alternatives {
    display: grid;
    gap: 1rem;
    margin: 1rem 0;
}

/* - - - - - - - frm - - - - - - - - - */
.form-radio-container {
    width: 100%;
}
.form-radio {
    border: 1px solid var(--color-dark2);
    padding: .5rem;
    border-radius: 5px;
    width: calc(100% - 1rem);

}

/* - - - - - - - img - - - - - - - - - */
img {
    display: inline-block;
    max-width: 100%;
}
.poster {
    width: 30rem;
}
.logo {
    width: 90px;
}
/* - - - - - - - code - - - - - - - - - */
.code-container {
    border-bottom: 1px dashed var(--color-dark2);
    border-top: 1px dashed var(--color-dark2);
    border-left: 3px solid var(--color-primary);
    border-right: 3px solid var(--color-dark2);
    padding: 1rem;
}
.code {
    font-family: var(--font-mono);
    font-style: normal;
    font-size: .92rem;
}

/* - - - - - - - timer - - - - - - - - - */
.timer {
    width: 100%;
    display: block;
    width: 100%;
    padding: 1rem;
    background: #1e1e1d;
}

/* - - - - - - - challenge - - - - - - - - - */
.challenge__id {
    border: 1px dashed var(--n-code-color);
    opacity: .6;
    padding: 10px;
}

/* - - - - - - - main menu - - - - - - - - - */
.main-menu {
    margin-bottom: 1rem;
}
.main-menu__button {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: .4px;
}
.main-menu__button button {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: .4px;
}
/* - - - - - - - tag - - - - - - - - - */
.tag {
    color: var(--color-dark)
}
.tag-red {
    background-color: #c7959c;
}
.tag-blue {
    background-color: #86b1ce;
}
.tag-green {
    background-color: #8cbb8b;
}
.tag-yellow {
    background-color: #e0d2a4;
}

.text-center {
    text-align: center;
}
