.form-container{
    width: 20rem;
    padding: 2rem;
    box-shadow: var(--shadow);
}

.alternatives {
    display: grid;
    gap: 1rem;
    margin: 1rem;
}

.code {
    font-family: var(--font-mono);
    font-style: normal;
    font-size: 1rem;
}
