.form-container, .item-container{
    padding: 2rem;
    box-shadow: var(--shadow);
}
.form-container{
    max-width: 20rem;
    min-width: 10rem;

}
.alternatives {
    display: grid;
    gap: 1rem;
    margin: 1rem 0;
}

.radio-item {
    border: 1px solid var(--color-dark2);
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
}

/* - - - - - - - code - - - - - - - - - */
.code-container {
    border-bottom: 1px solid var(--color-primary);
    border-top: 1px solid var(--color-primary);
    padding: 2rem 0;
    width: 100%;
}
.code {
    font-family: var(--font-mono);
    font-style: normal;
    font-size: .92rem;
}

/* - - - - - - - timer - - - - - - - - - */
.timer {
    width: 100%;
    display: block;
    width: 100%;
    padding: 1rem;
    background: #1e1e1d;
}

/* - - - - - - - challenge - - - - - - - - - */
.challenge__id {
    border: 1px dashed var(--n-code-color) !important;
    padding: 10px;
}

/* - - - - - - - main menu - - - - - - - - - */
.main-menu {
    margin-bottom: 1rem;
}
.main-menu__button {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: .4px;
}
.main-menu__button button {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: .4px;
}
/* - - - - - - - main menu - - - - - - - - - */
